<mat-toolbar>
    <span>Blogging Application</span>
    <button style="margin-left: 50px;" mat-raised-button color="primary" [routerLink]="['/']" routerLinkActive="router-link-active">Home</button>
    <button style="margin-left: 10px;" mat-raised-button color="accent" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
    <button style="margin-left: 10px;" mat-raised-button color="warn" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</button>
</mat-toolbar>